SpacelibConducteurCW/src/wsdl/localhost_8080/WebServicesConducteur/WebServicesConducteur.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.spacelib.miage.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.spacelib.miage.com/" name="WebServicesConducteur">
<types>
<xsd:schema>
<xsd:import namespace="http://services.spacelib.miage.com/" schemaLocation="http://localhost:8080/WebServicesConducteur/WebServicesConducteur?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="UsagerInconnuException">
<part name="fault" element="tns:UsagerInconnuException"/>
</message>
<message name="creerCompte">
<part name="parameters" element="tns:creerCompte"/>
</message>
<message name="creerCompteResponse">
<part name="parameters" element="tns:creerCompteResponse"/>
</message>
<message name="UtilisateurExistantException">
<part name="fault" element="tns:UtilisateurExistantException"/>
</message>
<message name="obtenirTransfertsNecessaires">
<part name="parameters" element="tns:obtenirTransfertsNecessaires"/>
</message>
<message name="obtenirTransfertsNecessairesResponse">
<part name="parameters" element="tns:obtenirTransfertsNecessairesResponse"/>
</message>
<message name="reserverTransfert">
<part name="parameters" element="tns:reserverTransfert"/>
</message>
<message name="reserverTransfertResponse">
<part name="parameters" element="tns:reserverTransfertResponse"/>
</message>
<message name="QuaiInexistantException">
<part name="fault" element="tns:QuaiInexistantException"/>
</message>
<message name="QuaiIndisponibleException">
<part name="fault" element="tns:QuaiIndisponibleException"/>
</message>
<message name="TempsTrajetInconnuException">
<part name="fault" element="tns:TempsTrajetInconnuException"/>
</message>
<message name="StationInconnuException">
<part name="fault" element="tns:StationInconnuException"/>
</message>
<message name="obtenirTransfertsConducteur">
<part name="parameters" element="tns:obtenirTransfertsConducteur"/>
</message>
<message name="obtenirTransfertsConducteurResponse">
<part name="parameters" element="tns:obtenirTransfertsConducteurResponse"/>
</message>
<portType name="WebServicesConducteur">
<operation name="login">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UsagerInconnuException" name="UsagerInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/login/Fault/UsagerInconnuException"/>
</operation>
<operation name="creerCompte">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/creerCompteRequest" message="tns:creerCompte"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/creerCompteResponse" message="tns:creerCompteResponse"/>
<fault message="tns:UtilisateurExistantException" name="UtilisateurExistantException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/creerCompte/Fault/UtilisateurExistantException"/>
</operation>
<operation name="obtenirTransfertsNecessaires">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/obtenirTransfertsNecessairesRequest" message="tns:obtenirTransfertsNecessaires"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/obtenirTransfertsNecessairesResponse" message="tns:obtenirTransfertsNecessairesResponse"/>
</operation>
<operation name="reserverTransfert">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/reserverTransfertRequest" message="tns:reserverTransfert"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/reserverTransfertResponse" message="tns:reserverTransfertResponse"/>
<fault message="tns:QuaiInexistantException" name="QuaiInexistantException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/reserverTransfert/Fault/QuaiInexistantException"/>
<fault message="tns:QuaiIndisponibleException" name="QuaiIndisponibleException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/reserverTransfert/Fault/QuaiIndisponibleException"/>
<fault message="tns:TempsTrajetInconnuException" name="TempsTrajetInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/reserverTransfert/Fault/TempsTrajetInconnuException"/>
<fault message="tns:UsagerInconnuException" name="UsagerInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/reserverTransfert/Fault/UsagerInconnuException"/>
<fault message="tns:StationInconnuException" name="StationInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/reserverTransfert/Fault/StationInconnuException"/>
</operation>
<operation name="obtenirTransfertsConducteur">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/obtenirTransfertsConducteurRequest" message="tns:obtenirTransfertsConducteur"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/obtenirTransfertsConducteurResponse" message="tns:obtenirTransfertsConducteurResponse"/>
<fault message="tns:UsagerInconnuException" name="UsagerInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesConducteur/obtenirTransfertsConducteur/Fault/UsagerInconnuException"/>
</operation>
</portType>
<binding name="WebServicesConducteurPortBinding" type="tns:WebServicesConducteur">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsagerInconnuException">
<soap:fault name="UsagerInconnuException" use="literal"/>
</fault>
</operation>
<operation name="creerCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UtilisateurExistantException">
<soap:fault name="UtilisateurExistantException" use="literal"/>
</fault>
</operation>
<operation name="obtenirTransfertsNecessaires">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserverTransfert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QuaiInexistantException">
<soap:fault name="QuaiInexistantException" use="literal"/>
</fault>
<fault name="QuaiIndisponibleException">
<soap:fault name="QuaiIndisponibleException" use="literal"/>
</fault>
<fault name="TempsTrajetInconnuException">
<soap:fault name="TempsTrajetInconnuException" use="literal"/>
</fault>
<fault name="UsagerInconnuException">
<soap:fault name="UsagerInconnuException" use="literal"/>
</fault>
<fault name="StationInconnuException">
<soap:fault name="StationInconnuException" use="literal"/>
</fault>
</operation>
<operation name="obtenirTransfertsConducteur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsagerInconnuException">
<soap:fault name="UsagerInconnuException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebServicesConducteur">
<port name="WebServicesConducteurPort" binding="tns:WebServicesConducteurPortBinding">
<soap:address location="http://localhost:8080/WebServicesConducteur/WebServicesConducteur"/>
</port>
</service>
</definitions>