SpacelibUsagerCW/src/wsdl/localhost_8080/WebServicesUsager/WebServicesUsager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.spacelib.miage.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.spacelib.miage.com/">

<xs:element name="IllegalAccessException" type="tns:IllegalAccessException"/>

<xs:element name="InvocationTargetException" type="tns:InvocationTargetException"/>

<xs:element name="QuaiInconnuException" type="tns:QuaiInconnuException"/>

<xs:element name="QuaiIndisponibleException" type="tns:QuaiIndisponibleException"/>

<xs:element name="QuaiInexistantException" type="tns:QuaiInexistantException"/>

<xs:element name="ReservationClotureeException" type="tns:ReservationClotureeException"/>

<xs:element name="ReservationInconnuException" type="tns:ReservationInconnuException"/>

<xs:element name="ReservationPasseeException" type="tns:ReservationPasseeException"/>

<xs:element name="StationInconnuException" type="tns:StationInconnuException"/>

<xs:element name="TempsTrajetInconnuException" type="tns:TempsTrajetInconnuException"/>

<xs:element name="UsagerInconnuException" type="tns:UsagerInconnuException"/>

<xs:element name="annulerVoyage" type="tns:annulerVoyage"/>

<xs:element name="annulerVoyageResponse" type="tns:annulerVoyageResponse"/>

<xs:element name="creerCompte" type="tns:creerCompte"/>

<xs:element name="creerCompteResponse" type="tns:creerCompteResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="obtenirStation" type="tns:obtenirStation"/>

<xs:element name="obtenirStationResponse" type="tns:obtenirStationResponse"/>

<xs:element name="obtenirStations" type="tns:obtenirStations"/>

<xs:element name="obtenirStationsResponse" type="tns:obtenirStationsResponse"/>

<xs:element name="obtenirVoyagesUsager" type="tns:obtenirVoyagesUsager"/>

<xs:element name="obtenirVoyagesUsagerResponse" type="tns:obtenirVoyagesUsagerResponse"/>

<xs:element name="reserverVoyage" type="tns:reserverVoyage"/>

<xs:element name="reserverVoyageResponse" type="tns:reserverVoyageResponse"/>

<xs:complexType name="obtenirVoyagesUsager">
<xs:sequence>
<xs:element name="idUsager" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirVoyagesUsagerResponse">
<xs:sequence>
<xs:element name="return" type="tns:rVoyage" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rVoyage">
<xs:sequence>
<xs:element name="dateArrivee" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCreation" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateDepart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="navette" type="xs:long" minOccurs="0"/>
<xs:element name="nbPassagers" type="xs:int"/>
<xs:element name="quaiArrivee" type="xs:long" minOccurs="0"/>
<xs:element name="quaiDepart" type="xs:long" minOccurs="0"/>
<xs:element name="statut" type="xs:string" minOccurs="0"/>
<xs:element name="usager" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UsagerInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirStation">
<xs:sequence>
<xs:element name="idQuai" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirStationResponse">
<xs:sequence>
<xs:element name="return" type="tns:rStation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rStation">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="localisation" type="xs:string" minOccurs="0"/>
<xs:element name="nbQuais" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="statut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StationInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="QuaiInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="annulerVoyage">
<xs:sequence>
<xs:element name="idUsager" type="xs:long" minOccurs="0"/>
<xs:element name="idVoyage" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="annulerVoyageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ReservationInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationPasseeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationClotureeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerCompte">
<xs:sequence>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="motdepasse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerCompteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reserverVoyage">
<xs:sequence>
<xs:element name="idUsager" type="xs:long" minOccurs="0"/>
<xs:element name="idStationDepart" type="xs:long" minOccurs="0"/>
<xs:element name="idStationArrivee" type="xs:long" minOccurs="0"/>
<xs:element name="NbPassagers" type="xs:int"/>
<xs:element name="dateDepart" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserverVoyageResponse">
<xs:sequence>
<xs:element name="return" type="tns:rVoyage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="QuaiInexistantException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="QuaiIndisponibleException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TempsTrajetInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirStations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenirStationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:rStation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IllegalAccessException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvocationTargetException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="targetException" type="tns:throwable" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="motdepasse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>