SpacelibUsagerCW/src/wsdl/localhost_8080/WebServicesUsager/WebServicesUsager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.spacelib.miage.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.spacelib.miage.com/">

<xs:element name="ReservationClotureeException" type="tns:ReservationClotureeException"/>

<xs:element name="ReservationInconnuException" type="tns:ReservationInconnuException"/>

<xs:element name="ReservationPasseeException" type="tns:ReservationPasseeException"/>

<xs:element name="StationInconnuException" type="tns:StationInconnuException"/>

<xs:element name="UsagerInconnuException" type="tns:UsagerInconnuException"/>

<xs:element name="annulerVoyage" type="tns:annulerVoyage"/>

<xs:element name="annulerVoyageResponse" type="tns:annulerVoyageResponse"/>

<xs:element name="creerCompte" type="tns:creerCompte"/>

<xs:element name="creerCompteResponse" type="tns:creerCompteResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="obtenirStations" type="tns:obtenirStations"/>

<xs:element name="obtenirStationsResponse" type="tns:obtenirStationsResponse"/>

<xs:element name="obtenirVoyagesUsager" type="tns:obtenirVoyagesUsager"/>

<xs:element name="obtenirVoyagesUsagerResponse" type="tns:obtenirVoyagesUsagerResponse"/>

<xs:element name="reserverVoyage" type="tns:reserverVoyage"/>

<xs:element name="reserverVoyageResponse" type="tns:reserverVoyageResponse"/>

<xs:complexType name="obtenirVoyagesUsager">
<xs:sequence>
<xs:element name="idUsager" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirVoyagesUsagerResponse">
<xs:sequence>
<xs:element name="return" type="tns:voyage" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voyage">
<xs:complexContent>
<xs:extension base="tns:reservation">
<xs:sequence>
<xs:element name="usager" type="tns:usager" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservation" abstract="true">
<xs:complexContent>
<xs:extension base="tns:operation">
<xs:sequence>
<xs:element name="dateArrivee" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateDepart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nbPassagers" type="xs:int"/>
<xs:element name="quaiArrivee" type="tns:quai" minOccurs="0"/>
<xs:element name="quaiDepart" type="tns:quai" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="operation" abstract="true">
<xs:sequence>
<xs:element name="dateCreation" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="navette" type="tns:navette" minOccurs="0"/>
<xs:element name="statut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usager">
<xs:complexContent>
<xs:extension base="tns:utilisateur">
<xs:sequence>
<xs:element name="voyages" type="tns:voyage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="utilisateur">
<xs:sequence>
<xs:element name="dateCreation" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="motdepasse" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quai">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="navette" type="tns:navette" minOccurs="0"/>
<xs:element name="station" type="tns:station" minOccurs="0"/>
<xs:element name="statut" type="tns:quaiStatut" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="navette">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nbPlaces" type="xs:int"/>
<xs:element name="nbVoyages" type="xs:int"/>
<xs:element name="statut" type="tns:navetteStatut" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="station">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="localisation" type="xs:string" minOccurs="0"/>
<xs:element name="nbQuais" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="statut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UsagerInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerCompte">
<xs:sequence>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="motdepasse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerCompteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="annulerVoyage">
<xs:sequence>
<xs:element name="idUsager" type="xs:long" minOccurs="0"/>
<xs:element name="idVoyage" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="annulerVoyageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ReservationInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationPasseeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationClotureeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserverVoyage">
<xs:sequence>
<xs:element name="idUsager" type="xs:long" minOccurs="0"/>
<xs:element name="idStationDepart" type="xs:long" minOccurs="0"/>
<xs:element name="idStationArrivee" type="xs:long" minOccurs="0"/>
<xs:element name="NbPassagers" type="xs:int"/>
<xs:element name="dateDepart" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserverVoyageResponse">
<xs:sequence>
<xs:element name="return" type="tns:voyage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StationInconnuException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirStations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenirStationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:station" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="motdepasse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="navetteStatut">
<xs:restriction base="xs:string">
<xs:enumeration value="Disponible"/>
<xs:enumeration value="AReviser"/>
<xs:enumeration value="EnRevision"/>
<xs:enumeration value="EnVol"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="quaiStatut">
<xs:restriction base="xs:string">
<xs:enumeration value="Disponible"/>
<xs:enumeration value="Occupe"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>