SpacelibUsagerCW/src/wsdl/localhost_8080/WebServicesUsager/WebServicesUsager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.spacelib.miage.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.spacelib.miage.com/" name="WebServicesUsager">
<types>
<xsd:schema>
<xsd:import namespace="http://services.spacelib.miage.com/" schemaLocation="http://localhost:8080/WebServicesUsager/WebServicesUsager?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="UsagerInconnuException">
<part name="fault" element="tns:UsagerInconnuException"/>
</message>
<message name="annulerVoyage">
<part name="parameters" element="tns:annulerVoyage"/>
</message>
<message name="annulerVoyageResponse">
<part name="parameters" element="tns:annulerVoyageResponse"/>
</message>
<message name="ReservationInconnuException">
<part name="fault" element="tns:ReservationInconnuException"/>
</message>
<message name="ReservationPasseeException">
<part name="fault" element="tns:ReservationPasseeException"/>
</message>
<message name="ReservationClotureeException">
<part name="fault" element="tns:ReservationClotureeException"/>
</message>
<message name="reserverVoyage">
<part name="parameters" element="tns:reserverVoyage"/>
</message>
<message name="reserverVoyageResponse">
<part name="parameters" element="tns:reserverVoyageResponse"/>
</message>
<message name="StationInconnuException">
<part name="fault" element="tns:StationInconnuException"/>
</message>
<message name="obtenirStations">
<part name="parameters" element="tns:obtenirStations"/>
</message>
<message name="obtenirStationsResponse">
<part name="parameters" element="tns:obtenirStationsResponse"/>
</message>
<message name="IllegalAccessException">
<part name="fault" element="tns:IllegalAccessException"/>
</message>
<message name="InvocationTargetException">
<part name="fault" element="tns:InvocationTargetException"/>
</message>
<message name="creerCompte">
<part name="parameters" element="tns:creerCompte"/>
</message>
<message name="creerCompteResponse">
<part name="parameters" element="tns:creerCompteResponse"/>
</message>
<message name="obtenirVoyagesUsager">
<part name="parameters" element="tns:obtenirVoyagesUsager"/>
</message>
<message name="obtenirVoyagesUsagerResponse">
<part name="parameters" element="tns:obtenirVoyagesUsagerResponse"/>
</message>
<portType name="WebServicesUsager">
<operation name="login">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UsagerInconnuException" name="UsagerInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/login/Fault/UsagerInconnuException"/>
</operation>
<operation name="annulerVoyage">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/annulerVoyageRequest" message="tns:annulerVoyage"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/annulerVoyageResponse" message="tns:annulerVoyageResponse"/>
<fault message="tns:UsagerInconnuException" name="UsagerInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/annulerVoyage/Fault/UsagerInconnuException"/>
<fault message="tns:ReservationInconnuException" name="ReservationInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/annulerVoyage/Fault/ReservationInconnuException"/>
<fault message="tns:ReservationPasseeException" name="ReservationPasseeException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/annulerVoyage/Fault/ReservationPasseeException"/>
<fault message="tns:ReservationClotureeException" name="ReservationClotureeException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/annulerVoyage/Fault/ReservationClotureeException"/>
</operation>
<operation name="reserverVoyage">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/reserverVoyageRequest" message="tns:reserverVoyage"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/reserverVoyageResponse" message="tns:reserverVoyageResponse"/>
<fault message="tns:UsagerInconnuException" name="UsagerInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/reserverVoyage/Fault/UsagerInconnuException"/>
<fault message="tns:StationInconnuException" name="StationInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/reserverVoyage/Fault/StationInconnuException"/>
</operation>
<operation name="obtenirStations">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/obtenirStationsRequest" message="tns:obtenirStations"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/obtenirStationsResponse" message="tns:obtenirStationsResponse"/>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/obtenirStations/Fault/IllegalAccessException"/>
<fault message="tns:InvocationTargetException" name="InvocationTargetException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/obtenirStations/Fault/InvocationTargetException"/>
</operation>
<operation name="creerCompte">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/creerCompteRequest" message="tns:creerCompte"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/creerCompteResponse" message="tns:creerCompteResponse"/>
</operation>
<operation name="obtenirVoyagesUsager">
<input wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/obtenirVoyagesUsagerRequest" message="tns:obtenirVoyagesUsager"/>
<output wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/obtenirVoyagesUsagerResponse" message="tns:obtenirVoyagesUsagerResponse"/>
<fault message="tns:UsagerInconnuException" name="UsagerInconnuException" wsam:Action="http://services.spacelib.miage.com/WebServicesUsager/obtenirVoyagesUsager/Fault/UsagerInconnuException"/>
</operation>
</portType>
<binding name="WebServicesUsagerPortBinding" type="tns:WebServicesUsager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsagerInconnuException">
<soap:fault name="UsagerInconnuException" use="literal"/>
</fault>
</operation>
<operation name="annulerVoyage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsagerInconnuException">
<soap:fault name="UsagerInconnuException" use="literal"/>
</fault>
<fault name="ReservationInconnuException">
<soap:fault name="ReservationInconnuException" use="literal"/>
</fault>
<fault name="ReservationPasseeException">
<soap:fault name="ReservationPasseeException" use="literal"/>
</fault>
<fault name="ReservationClotureeException">
<soap:fault name="ReservationClotureeException" use="literal"/>
</fault>
</operation>
<operation name="reserverVoyage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsagerInconnuException">
<soap:fault name="UsagerInconnuException" use="literal"/>
</fault>
<fault name="StationInconnuException">
<soap:fault name="StationInconnuException" use="literal"/>
</fault>
</operation>
<operation name="obtenirStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"/>
</fault>
<fault name="InvocationTargetException">
<soap:fault name="InvocationTargetException" use="literal"/>
</fault>
</operation>
<operation name="creerCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenirVoyagesUsager">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsagerInconnuException">
<soap:fault name="UsagerInconnuException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebServicesUsager">
<port name="WebServicesUsagerPort" binding="tns:WebServicesUsagerPortBinding">
<soap:address location="http://localhost:8080/WebServicesUsager/WebServicesUsager"/>
</port>
</service>
</definitions>